@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
    <div class="user-panel mt-3 pb-3 mb-3">
        <div class="row justify-content-center">

            @if(UserManager.GetUserAsync(User).Result.ProfilePicture != null)
            {
                <img class="img-circle elevation-2" alt="profile" src="data:image/*;base64,@Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture)" />
            }
            else
            {
                <img class="w-15 rounded-circle" alt="profile" src="~/images/profile/user-default.jpg" />
            }

        </div>
        <div class="row justify-content-center">
            <a class="d-block" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
            </a>
        </div>
        <div class="row justify-content-center">
            <a class="d-block btn btn-block btn-primary text-light mt-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> 
                <i class="fas fa-user-cog mr-2"></i> 
                Account Settings 
            </a>
        </div>

        <div class="row justify-content-center">
            <form class="w-100" asp-area="identity" asp-page="/account/logout" asp-route-returnurl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="d-block btn btn-block btn-danger text-light mt-3">
                    <i class="fas fa-sign-out-alt mr-2"></i> 
                    Sign Out !
                </button>
            </form>
        </div>


    </div>
}