
<div class="col-lg-9">
    <partial name="EcommerceArea/_ProductSortingSectionPartial"/>
    <partial name="EcommerceArea/_ProductsPartial"/>
    <partial name="EcommerceArea/_PaginationSectionPartial"/>
</div>